<div class="main-bg">
  <div class="weather-box">
    <h1>🌦️ Weather App</h1>

    <div class="search-bar">
      <input
        type="text"
        [(ngModel)]="city"
        placeholder="Enter city"
        (keyup.enter)="getWeather()"
      />
      <button (click)="getWeather()">🔍</button>
    </div>

    <div *ngIf="errorMessage" class="error">
      {{ errorMessage }}
    </div>

    <div *ngIf="weatherData" class="card fade-in">
      <h2>{{ weatherData.name }}, {{ weatherData.sys.country }}</h2>
      <img
        *ngIf="weatherData.weather[0].icon"
        [src]="'https://openweathermap.org/img/wn/' + weatherData.weather[0].icon + '@2x.png'"
        alt="Weather Icon"
      />
      <h3>{{ weatherData.main.temp | number: '1.0-0' }}°C</h3>
      <p>{{ weatherData.weather[0].description | titlecase }}</p>
      <div class="info">
        <p>💧 {{ weatherData.main.humidity }}% humidity</p>
        <p>🌬️ {{ weatherData.wind.speed }} m/s wind</p>
      </div>
    </div>
  </div>
</div>
